*{
    background-color: rgb(74, 180, 230);
}
p{
    color: white;
    margin-left: 300px;
}
h1, h2, h4{
    color: white;
    margin-left: 300px;
}
body{
    border: 8px;
    border-color: rgb(83, 74, 74);
    border-style: solid; 
}

ol{
    list-style-type: upper-roman;
    color: white;
}